body > .app.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "menu""content""footer";
}

.app.container > .ui.menu {
    grid-area: menu;
}

.app.container > .ui.container {
    grid-area: content;
}
