@inherits LayoutComponentBase

<div class="ui attached inverted menu">
    <a href="" class="header item">ObservingThingy</a>

    <NavLink href="/" class="item" Match="NavLinkMatch.All">Home</NavLink>
</div>

<div class="ui fluid container">
    @Body
</div>
